### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [8]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

#Create columns to indicate whether students have passing grades and add to student data frame
student_data["passing_reading"] = student_data["reading_score"] >= 70
student_data["passing_math"] = student_data["math_score"] >= 70
student_data["overall_passing"] = (student_data["reading_score"] >= 70) & (student_data["math_score"] >= 70)

student_data

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,passing_reading,passing_math,overall_passing
0,0,Paul Bradley,M,9th,Huang High School,66,79,False,True,False
1,1,Victor Smith,M,12th,Huang High School,94,61,True,False,False
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,True,False,False
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,False,False,False
4,4,Bonnie Ray,F,9th,Huang High School,97,84,True,True,True
...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,True,True,True
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,True,True,True
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,True,True,True
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,True,True,True
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,True,True,True

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [9]:
#Count Schools
school_count = school_data["school_name"].count()

#Sum students
student_count = school_data["size"].sum()

#Sum budget
district_budget = school_data["budget"].sum()

#Average all math scores
district_math_avg = student_data["math_score"].mean()

#Average all reading scores
district_reading_avg = student_data["reading_score"].mean()

#Calculate percent passing math
passing_math_perc = (np.sum(student_data["passing_math"] == True) / student_count) * 100

#Calculate percent passing reading

passing_reading_perc = (np.sum(student_data["passing_reading"] == True) / student_count) * 100

#Calculate passing overall

passing_overall_perc = (np.sum(student_data["overall_passing"] == True) / student_count) * 100

#Pass all summary values above into a data frame
district_summary_df = pd.DataFrame({
    "School Count": [school_count],
    "Student Count": student_count,
    "District Budget": district_budget,
    "Distrct Math Average": district_math_avg,
    "District Reading Average": district_reading_avg,
    "% Students Passing Math": passing_math_perc,
    "% Students Passing Reading": passing_reading_perc,
    "% Students Passing": passing_overall_perc
})

district_summary_df

,School Count,Student Count,District Budget,Distrct Math Average,District Reading Average,% Students Passing Math,% Students Passing Reading,% Students Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [10]:
#Pull data that does not need to be changed into a new data frame to start
school_summary_df = school_data[["school_name", "type", "size", "budget"]]

#Aphabetize schools (important when adding in groupby statements)
school_summary_df.sort_values("school_name").reset_index(drop=True)

#Caluclate budget per student and add to data frame
school_summary_df["budget_per_student"] = school_summary_df["budget"] / school_summary_df["size"]


#Create a groupby object by school to pull out scores
groupby_school = student_data.groupby(["school_name"])


#Use groupby school object to average test scores
avg_math_by_school = groupby_school["math_score"].mean()
avg_reading_by_school = groupby_school["reading_score"].mean()

#Place scores in a data frame
test_avgs_df = pd.DataFrame({"avg_math": avg_math_by_school, "avg_reading": avg_reading_by_school})

#Join partial summary table with socres table on school name
summary_with_scores = pd.merge(school_summary_df, test_avgs_df, on="school_name")

#Transition to percent work
#filter entire student data table for only those that passed math
passed_math = student_data.loc[student_data["passing_math"] == True, :]

#Group by school and count the number of students who passed
math_pass_by_school = passed_math.groupby(["school_name"]).count()

#repeat the above two steps for reading scores
passed_reading = student_data.loc[student_data["passing_reading"] == True, :]

reading_pass_by_school = passed_reading.groupby(["school_name"]).count()

#do the same for overall scores
passed_overall = student_data.loc[student_data["overall_passing"] == True, :]

overall_pass_by_school = passed_overall.groupby(["school_name"]).count()

#Combine the above three count series into a data frame
passing_df = pd.DataFrame({"passing_math_count": math_pass_by_school["passing_math"], 
                          "passing_reading_count": reading_pass_by_school["passing_reading"], 
                          "overall_passing_count": overall_pass_by_school["overall_passing"]})


#index with school so that I can divide the columns
indexed_school_summary_df = school_summary_df.set_index(school_summary_df["school_name"])

#create columns to show percent passing by dividing each count by school size and inserting into the data frame
passing_df["passing_math_perc"] = (passing_df["passing_math_count"] / indexed_school_summary_df["size"]) * 100

passing_df["passing_reading_perc"] = (passing_df["passing_reading_count"] / indexed_school_summary_df["size"]) * 100

passing_df["passing_overall_perc"] = (passing_df["overall_passing_count"] / indexed_school_summary_df["size"]) * 100

#Join half-completed summary from above to the percent passing df
full_summary_df = pd.merge(summary_with_scores, passing_df, on="school_name")

#Delete columns for passing counts
del full_summary_df["passing_math_count"]
del full_summary_df["passing_reading_count"]
del full_summary_df["overall_passing_count"]

sorted_full_summary = full_summary_df.sort_values("school_name").reset_index(drop=True)

sorted_full_summary

,school_name,type,size,budget,budget_per_student,avg_math,avg_reading,passing_math_perc,passing_reading_perc,passing_overall_perc
0,Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
1,Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
2,Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
3,Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
4,Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
5,Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
6,Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
7,Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
8,Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
9,Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
10,Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
11,Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
12,Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
13,Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
14,Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [11]:
#Sort in decending order by overall passing
top_summary = sorted_full_summary.sort_values("passing_overall_perc", ascending=False).reset_index(drop=True)

#Take first 5 values only
top_five_summary = top_summary.head()

top_five_summary

,school_name,type,size,budget,budget_per_student,avg_math,avg_reading,passing_math_perc,passing_reading_perc,passing_overall_perc
0,Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
1,Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
2,Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
3,Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
4,Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [12]:
#Sort in ascending order by overall passing
bottom_summary = sorted_full_summary.sort_values("passing_overall_perc").reset_index(drop=True)

#Take first 5 values only
bottom_five_summary = bottom_summary.head()

bottom_five_summary

,school_name,type,size,budget,budget_per_student,avg_math,avg_reading,passing_math_perc,passing_reading_perc,passing_overall_perc
0,Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
1,Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
2,Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
3,Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
4,Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [13]:
#Filter the student data data frame by grade
grade_9 = student_data.loc[student_data["grade"] == "9th", :]
grade_10 = student_data.loc[student_data["grade"] == "10th", :]
grade_11 = student_data.loc[student_data["grade"] == "11th", :]
grade_12 = student_data.loc[student_data["grade"] == "12th", :]

#Group by school for each grade
grade_9_grouped = grade_9.groupby(["school_name"]).mean()
grade_10_grouped = grade_10.groupby(["school_name"]).mean()
grade_11_grouped = grade_11.groupby(["school_name"]).mean()
grade_12_grouped = grade_12.groupby(["school_name"]).mean()

#extract math scores
grade_9_math = grade_9_grouped["math_score"]
grade_10_math = grade_10_grouped["math_score"]
grade_11_math = grade_11_grouped["math_score"]
grade_12_math = grade_12_grouped["math_score"]

#Place scores in a data frame
math_avgs_df = pd.DataFrame({"9th": grade_9_math, "10th": grade_10_math, 
                             "11th": grade_11_math, "12th": grade_12_math})

math_avgs_df

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [14]:
#Already have a grouped scores data frame above
#extract math scores
grade_9_reading = grade_9_grouped["reading_score"]
grade_10_reading = grade_10_grouped["reading_score"]
grade_11_reading = grade_11_grouped["reading_score"]
grade_12_reading = grade_12_grouped["reading_score"]

#Place scores in a data frame
reading_avgs_df = pd.DataFrame({"9th": grade_9_reading, "10th": grade_10_reading, 
                             "11th": grade_11_reading, "12th": grade_12_reading})

reading_avgs_df

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

In [18]:
#define bins and bin names
size_bins = [0, 2000, 3000, 4000, 5000]
size_bin_names = ["< 2000", "2000-3000", "3000-4000", "> 4000"]

#add new column with bin designation
sorted_full_summary["size_range"] = pd.cut(sorted_full_summary["size"], size_bins, 
                                           labels= size_bin_names, include_lowest=True)

#group by bin
scores_by_size= sorted_full_summary.groupby("size_range").mean()

#delete unecessary columns
del scores_by_size["size"]
del scores_by_size["budget"]
del scores_by_size["budget_per_student"]

scores_by_size

,avg_math,avg_reading,passing_math_perc,passing_reading_perc,passing_overall_perc
size_range,,,,,
< 2000,83.502373,83.883125,93.585560,96.593182,90.410769
2000-3000,78.429493,81.769122,73.462428,84.473577,62.897703
3000-4000,76.842711,80.744686,66.366592,80.220055,52.988247
> 4000,77.136883,80.978256,66.496861,81.339570,53.902988

## Scores by School Type

* Perform the same operations as above, based on school type